
<div class="container"><h2>This website was designed by John Carter and his Bloc mentor</h2></div>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <a href="https://www.facebook.com">  <button type="button" class="btn btn-default">My Facebook</button></a>
  </div>
  <div class="btn-group" role="group">
   <a href="https://www.linkedin.com>" <button type="button" class="btn btn-default">My Linkedin</button></a>
  </div>
  <div class="btn-group" role="group">
   <a href="http://www.bloc.io"> <button type="button" class="btn btn-default">Try Bloc for yourself!</button></a>
  </div>
</div>



<p id="index-title">This is the home page for Bloccit</p>


<div class="posts">Post 1 goes here</div>
<div class="posts">Post 2 goes here.</div>
<section>I am the content in the section element.</section>
