<p><%= @post.body %></p>
 			<div>
 				<h3>Comments</h3>
 				<%= render @post.comments %>
 			</div>
 				<% if current_user %>
 					<%= render 'comments/form', comment: Comment.new, post: @post %>
 				<% end %>