<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>Notification of you following this shit</h1>
     <small>
       From Admin@bloccit.com
     </small>
     <p>
       <%= "You will be notified by email whenever your post gets comments." %>
     </p>
     <p>
       <%= link_to "View your new topic on the site!", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>